NEXT_PUBLIC_MARKETPLACE_API_URL=https://api.meanly.test
NEXT_PUBLIC_STOREFRONT_URL=https://meanly.test
NEXT_PUBLIC_MARKETPLACE_REGION=global
NEXT_PUBLIC_SIMPLE_L1_URL=https://meanly.test
PARTNER_REACT_PRIMARY=true
NEXT_PUBLIC_MEANLY_IOS_APP_URL=
NEXT_PUBLIC_MEANLY_ANDROID_APP_URL=
NEXT_PUBLIC_MEANLY_MAC_APP_URL=
NEXT_PUBLIC_MEANLY_WINDOWS_APP_URL=
NEXT_PUBLIC_MEANLY_LINUX_APP_URL=
NEXT_PUBLIC_ACQUIRING_COMPANY_BRAND=Meanly
NEXT_PUBLIC_ACQUIRING_COMPANY_LEGAL_NAME="Meanly Systems"
NEXT_PUBLIC_ACQUIRING_COMPANY_COUNTRY="Российская Федерация"
NEXT_PUBLIC_ACQUIRING_COMPANY_LEGAL_ADDRESS=
NEXT_PUBLIC_ACQUIRING_COMPANY_ACTUAL_ADDRESS=
NEXT_PUBLIC_ACQUIRING_COMPANY_PHONE=
NEXT_PUBLIC_ACQUIRING_COMPANY_EMAIL=support@meanly.ru
NEXT_PUBLIC_ACQUIRING_COMPANY_INN=
NEXT_PUBLIC_ACQUIRING_COMPANY_KPP=
NEXT_PUBLIC_ACQUIRING_COMPANY_OGRN=
NEXT_PUBLIC_ACQUIRING_BANK_NAME=
NEXT_PUBLIC_ACQUIRING_SSL_LEVEL="SSL123 или выше"
NEXT_PUBLIC_ACQUIRING_PAYMENT_SYSTEMS=МИР,Visa,Mastercard
