NEXT_PUBLIC_MARKETPLACE_API_URL=https://api.meanly.test
NEXT_PUBLIC_STOREFRONT_URL=https://meanly.test
NEXT_PUBLIC_MARKETPLACE_REGION=global
NEXT_PUBLIC_SIMPLE_L1_URL=https://simplel1.online
PARTNER_REACT_PRIMARY=true
NEXT_PUBLIC_MEANLY_IOS_APP_URL=
NEXT_PUBLIC_MEANLY_ANDROID_APP_URL=
NEXT_PUBLIC_MEANLY_MAC_APP_URL=
NEXT_PUBLIC_MEANLY_WINDOWS_APP_URL=
NEXT_PUBLIC_MEANLY_LINUX_APP_URL=
