.git
.github
.env
.idea
vendor
node_modules
npm-debug.log
yarn-error.log

# Laravel specific
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

# macOS specific
.DS_Store
