.git
.github
.env
.env.production.*
.idea
vendor
node_modules
npm-debug.log
yarn-error.log
experimental
scratch
*.sql
*.dump

# Laravel specific
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

# macOS specific
.DS_Store
