APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://1gros.local
APP_TIMEZONE=Europe/Moscow
APP_DOMAIN=1gros.local

APP_LOCALE=ru
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=host.1gros.ru
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

DB_HOST_PS_PLUS=localhost
DB_PORT_PS_PLUS=3306
DB_DATABASE_PS_PLUS=
DB_USERNAME_PS_PLUS=
DB_PASSWORD_PS_PLUS=

DB_HOST_PS_STORE=localhost
DB_PORT_PS_STORE=3306
DB_DATABASE_PS_STORE=
DB_USERNAME_PS_STORE=
DB_PASSWORD_PS_STORE=

DB_HOST_1GROS_PROD=localhost
DB_PORT_1GROS_PROD=3306
DB_DATABASE_1GROS_PROD=
DB_USERNAME_1GROS_PROD=
DB_PASSWORD_1GROS_PROD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

YM_API_KEY=
YM_BUSSINES_ID=
YM_CATEGORY_ID=
YM_NOTIFICATION_TOKEN=
YM_CAMPAGIGN_ID=

PS_TAX=35

TRUSTED_HOSTS="${APP_DOMAIN},localhost,marketplace.1gros.ru,1gros.ru,playstationplus.ru,ps-store.ru"

TG_TOKEN=
TG_CHAT_ID=

GOOGLE_TRANSLATE_API_KEY=
