<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DOMAIN" value="meanly.one"/>
        <env name="APP_URL" value="https://meanly.one"/>
        <env name="MARKET_DEFAULT" value="global"/>
        <env name="MARKET_GLOBAL_DOMAINS" value="meanly.one,www.meanly.one,meanly.test,marketplace.one,marketplace.test"/>
        <env name="MARKET_RU_DOMAINS" value="meanly.ru,ru.marketplace.one,ru.marketplace.test"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="IDENTITY_GOVERNANCE_STREAM_ENABLED" value="true"/>
        <env name="IDENTITY_GOVERNANCE_STREAM_AUTHORIZE_ENABLED" value="true"/>
        <env name="COMMERCE_CRYPTO_RAILS_ENABLED" value="false"/>
        <env name="SETTLEMENT_ADAPTER_POLYGON_ENABLED" value="false"/>
        <env name="SETTLEMENT_ADAPTER_BITCOIN_ENABLED" value="false"/>
        <env name="SETTLEMENT_ADAPTER_ETHEREUM_ENABLED" value="false"/>
        <env name="SETTLEMENT_ADAPTER_BASE_ENABLED" value="false"/>
        <env name="SETTLEMENT_ADAPTER_SOLANA_ENABLED" value="false"/>
        <env name="SETTLEMENT_ADAPTER_TON_ENABLED" value="false"/>
    </php>
</phpunit>
